<a href="https://colab.research.google.com/github/morningcoffeehoola/introduction-to-coumputer/blob/main/0523.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("123")

123

In [3]:
sum=0
p=int(input(print("請輸入一個正整數")))
for p in range(1,p+1):
    
    sum=sum+p
print(("1到%d的整數合為%d" )%(p,sum))

請輸入一個正整數
5
1到5的整數合為15

In [4]:
sum=0
q=int(input(print("請輸入一個正整數")))
for q in range(1,q+1):
    sum=sum+q
    print(("1到%d的整數合為%d")%(q,sum))
    
#print(("1到%d的整數合為%d" )%(p,sum))

請輸入一個正整數
6
1到1的整數合為1
1到2的整數合為3
1到3的整數合為6
1到4的整數合為10
1到5的整數合為15
1到6的整數合為21

In [5]:
for j in range(1,5):
    print(j)
    for i in range(1,3):
        k=i*j
        print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [6]:
for j in range(1,6):
    print(j)
    for i in range(1,3):
        k=i*j
        print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [17]:
for j in range(1,10):
    #print(end="")
    for i in range(1,10):
        k=i*j
        print(j,"*",i,"=",k,end="\t")
    print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [11]:
for i in range(1,5):
    if(i==4):
        break
    print(i,end=" ")

1 2 3

In [14]:
for i in range(1,5):
    if(i==4):
        continue
    print(i,end=" ")

1 2 3

In [19]:
count=0
for string in "測試看看!":
    count+=1
    if string == "看":
        break
    print(string)
print("迴圈結束!")
print("迴圈執行了%d次" % (count))

測
試
迴圈結束!
迴圈執行了3次

In [22]:
count=0
for string in "hellow":
    count+=1
    if string == "w":
        break
    print(string,end=" ")
print("迴圈結束!")
print("迴圈執行了%d次" % (count))

h e l l o 迴圈結束!
迴圈執行了6次

In [63]:
a=int(input("type a :"))
b=int(input("type b :"))
for i in range(2,a*b):
    if i%a==0 and i%b==0:
        break 
print(i)

type a :24
type b :54
216

In [42]:
z=int(input("type z :"))
for i in range(1,z+1):
    if i%5==0:
        continue 
    else:
        print(i,end=" ")

type z :10
1 2 3 4 6 7 8 9