<a href="https://colab.research.google.com/github/morningcoffeehoola/introduction-to-coumputer/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("test0606")

test0606

奇數偶數和

In [2]:
i=0
result=0
while i<=50:
    if i%2==0:
        result+=i
    i+=1
print("0~50的奇數和結果是%d"% result)

0~50的奇數和結果是650

In [3]:
i=0
result=0
while i<=50:
    if i%2!=0:
        result+=i
    i+=1
print("0~50的偶數和結果是%d"% result)

0~50的奇數和結果是625

倒三角

In [7]:
n=int(input("請輸入正整數"))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("*",end="")
    print()

請輸入正整數5
*****
****
***
**
*

3 7 倍數和

In [8]:
sum=0
for i in range(1,101):
    if i%3 ==0 or i %7 ==0:
        sum+=i
print("1~100中，3和7的倍數總合為: ",sum)

1~100中，3和7的倍數總合為:  2208

質數判斷

In [10]:
p=1
counter=0
n=int(input("請輸入正整數"))
print(n,"的因數有",end=" ")
while p<=n:
    if n%p==0:
        print(p,end=" ")
        counter+=1
    p+=1
print()
if counter==2:
    print(n,"是質數")
else:
    print(n,"不是質數")

請輸入正整數7
7 的因數有 1 7
7 是質數

串列

In [13]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [15]:
list2=["香蕉","蘋果","橘子"]
list2

['香蕉', '蘋果', '橘子']

In [16]:
list3=[1,"香蕉","'橘子"]
list3

[1, '香蕉', "'橘子"]

In [18]:
print(list1[0])
print(list1[1])

1
2

In [19]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [21]:
list4=["香蕉","蘋果","橘子"]
print(list4[1])

蘋果

In [23]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [24]:
print(list4[3])

IndexError: ignored

In [25]:
print(list4[-1])
print(list4[-2])
print(list4[-3])

橘子
蘋果
香蕉

In [26]:
print(list4[-4])

IndexError: ignored

多維串列

In [27]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [31]:
print(list5[1])
print(list5[0])
print(list5[1][1])
print(list5[0][0])

['mary', 'abcd']
[['tom', '1234']]
abcd
['tom', '1234']

In [35]:
list6=[85,79,93]
print("國文成績:%d分"%list6[0])
print("數學成績:%d分"%list6[1])
print("英文成績:%d分"%list6[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [36]:
list7=[1,2,3,4,5]
print(list7[0])

1

In [38]:
list7[0]=9
print(list7[0])
list7

9

[9, 2, 3, 4, 5]

In [40]:
list8=["香蕉","蘋果","橘子"]
for s in list8:
    print(s,end=",")

香蕉,蘋果,橘子,

In [43]:
list9=[123,"apple",True]
for a in list9:
    print(a,end="\n")

123
apple
True

In [44]:
scores=[85,79,93]
print(len(scores))

3

In [49]:
scores=[85,79,93]
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [84]:
a=[["國文成績","數學成績","英文成績"],[85,79,93]]
for i in range(len(a[0])):
    print(a[0][i],a[1][i],sep=":")

國文成績:85
數學成績:79
英文成績:93

In [58]:
b=[85,79,93]
for i in range(len(b)):
    print("國文成績:",b[0])
    break
for i in range(len(b)):
    print("國文成績:",b[1])
    break 
for i in range(len(b)):
    print("國文成績:",b[2])
    break

國文成績: 85
國文成績: 79
國文成績: 93

In [80]:
d=[[1,2,3],["Tom","Mary","Tony"]]
for i in range(len(d[0])):
    print("編號:",d[0][i],end=" ")
    print("姓名:",d[1][i],end="\n")

編號: 1 姓名: Tom
編號: 2 姓名: Mary
編號: 3 姓名: Tony